body {
  background-color: white;
}

#logo-img {
  width: 200px;
  height: 200px;
}

#identify-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.body-img {
  width: 90%;
  height: 90%;
  transition: transform 0.3s ease;
}

.body-img:hover:hover {
  transform: scale(1.1);
}
